.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: var(--bs-sm);
  border-radius: var(--br-xs);
  background-color: #fff;
}

.graph {
  padding-top: 20px;
}

.header {
  margin-bottom: 20px;
}

.header label {
  color: var(--primary-theme-color);
  font-weight: var(--fw-6);
  font-size: var(--fs-xxs-2);
}

select {
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.35rem 0.25rem;
  border-radius: var(--br-xxs);
  border: 1px solid var(--grey-2);
}

.uploadOption {
  margin: 1rem 0 1.5rem;
}

input {
  width: 40%;
  cursor: pointer;
  color: var(--primary-theme-color);
}

input::file-selector-button {
  background-color: var(--secondary);
  color: white;
  border-radius: var(--br-xxs);
  border: 0;
  padding: 0.4rem 1.2rem;
}

.btnUpload {
  font-size: var(--fs-xxs-1);
  border-radius: 0.5rem;
}

.disabledBtn {
  background-color: var(--grey-4);
  color: #fff;
  cursor: not-allowed;
}

.disabledBtn:hover {
  background-color: var(--grey-4);
}

.loader {
  display: flex;
  justify-content: center;
}