@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    background-color: #14161b;
  }
}

.slick-slide > div {
  margin: 0 10px;
}


.slick-dots li.slick-active button:before {
  color:orange !important;
}
.slick-prev:before,
.slick-next:before {
  color: black!important;
}
.slick-slide .slide-h3 {
        background: blue;
      }
      .slick-center .slide-h3 {
        background: red;
      }
:root {
  --primary-theme-color: #001219;
  --secondary-theme-color: #fff;
  --secondary-theme-background: #fff;
  --toastify-color-info: var(--primary) !important;
  --toastify-color-success: var(--success) !important;
  --toastify-color-warning: var(--warning) !important;
  --toastify-color-error: var(--danger) !important;
  --toastify-text-color-warning: var(--dark) !important;
  --danger: #ff3860;
  --dark: #263238;
  --warning: #fde047;
  --light: #e9f3fd;
  --secondary: #ff3860;
  --primary: #f43f5e;
  --hover: #e11d48;
  --success: #48c774;
  --aqua-1: #abfbf2;
  --aqua-2: #4ef6e5;
  --aqua-3: #0cdac6;
  --aqua-4: #009e8e;
  --aqua-5: #00776a;
  --aqua-6: #004f47;
  --blue-1: #d3efff;
  --blue-2: #8cd5ff;
  --blue-3: #5fc4ff;
  --blue-4: #23a6f0;
  --blue-5: #0f56b3;
  --blue-6: #0a3977;
  --green-1: #c5f2c7;
  --green-2: #8ce590;
  --green-3: #52d858;
  --green-4: #2ab930;
  --green-5: #1f8b24;
  --green-6: #155d18;
  --grey-1: #e0e0e0;
  --grey-2: #c0c0c0;
  --grey-3: #a1a1a1;
  --grey-4: #818181;
  --grey-5: #616161;
  --grey-6: #414141;
  --indigo-1: #c7cdf1;
  --indigo-2: #8e9ae3;
  --indigo-3: #5668d5;
  --indigo-4: #2e41b6;
  --indigo-5: #223189;
  --indigo-6: #17205b;
  --orange-1: #fbe5c9;
  --orange-2: #f6ca92;
  --orange-3: #f2b05c;
  --orange-4: #ed9526;
  --orange-5: #bf710f;
  --orange-6: #7f4c0a;
  --pink-1: #fac1d6;
  --pink-2: #f584ad;
  --pink-3: #f04684;
  --pink-4: #e1125e;
  --pink-5: #a90e46;
  --pink-6: #70092f;
  --purple-1: #ecb9f9;
  --purple-2: #d972f4;
  --purple-3: #c52cee;
  --purple-4: #9a0fbf;
  --purple-5: #730c8f;
  --purple-6: #4d085f;
  --red-1: #fcd0cf;
  --red-2: #faa09e;
  --red-3: #f7716e;
  --red-4: #f5413d;
  --red-5: #da100b;
  --red-6: #910b08;
  --yellow-1: #fbf3d0;
  --yellow-2: #f7e7a1;
  --yellow-3: #f4db71;
  --yellow-4: #f0d042;
  --yellow-5: #d4b011;
  --yellow-6: #8e750b;
  --br-xxxs: 0.2rem;
  --br-xxs: 0.5rem;
  --br-xs: 0.75rem;
  --br-sm: 1rem;
  --br-md: 1.5rem;
  --br-lg: 2rem;
  --br-xl: 3.5rem;
  --br-xxl: 4rem;
  --br-xxxl: 5rem;
  --br-full: 9999rem;
  --bs-xxs: 0 1px 2px 1px rgba(6, 10, 36, 0.08);
  --bs-xs: 0 1px 4px 1px rgba(6, 10, 36, 0.1),
    0 5px 10px 0 rgba(6, 10, 36, 0.08);
  --bs-sm: 0 8px 15px 1px rgba(6, 10, 36, 0.1),
    0 18px 24px 1px rgba(6, 10, 36, 0.12);
  --bs-md: 0 10px 20px 1px rgba(6, 10, 36, 0.1),
    0 24px 36px 1px rgba(6, 10, 36, 0.18);
  --bs-lg: 0 10px 30px 1px rgba(6, 10, 36, 0.1),
    0 40px 48px 1px rgba(6, 10, 36, 0.25);
  --bs-xl: 0 10px 30px 1px rgba(6, 10, 36, 0.1),
    0 50px 60px 1px rgba(6, 10, 36, 0.4);
  --bs-xxl: 0 10px 30px 1px rgba(6, 10, 36, 0.1),
    0 80px 90px 1px rgba(6, 10, 36, 0.4);
  --fs-xxxs-1: 0.6rem;
  --fs-xxxs-2: 0.8rem;
  --fs-xxs-1: 1rem;
  --fs-xxs-2: 1.2rem;
  --fs-xs-1: 1.4rem;
  --fs-xs-2: 1.6rem;
  --fs-sm-1: 1.8rem;
  --fs-sm-2: 2rem;
  --fs-md-1: 2.2rem;
  --fs-md-2: 2.4rem;
  --fs-lg-1: 2.7rem;
  --fs-lg-2: 3rem;
  --fs-xl-1: 3.4rem;
  --fs-xl-2: 3.7rem;
  --fs-xxl-1: 4rem;
  --fs-xxl-2: 4.8rem;
  --fs-xxxl-1: 6rem;
  --fs-xxxl-2: 9.6rem;
  --fw-1: 100;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-9: 900;
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
  --space-xxxs: 0.4rem;
  --space-xxs: 0.8rem;
  --space-xs: 1.2rem;
  --space-sm: 1.6rem;
  --space-md: 2.4rem;
  --space-lg: 3.2rem;
  --space-xl: 4rem;
  --space-xxl: 6.4rem;
  --space-xxxl: 12.8rem;
  --pd-xxxs: 0.1rem var(--space-xxxs);
  --pd-xxs: var(--space-xxxs) var(--space-xs);
  --pd-xs: var(--space-xxs) var(--space-sm);
  --pd-sm: var(--space-xs) var(--space-md);
  --pd-md: var(--space-sm) var(--space-lg);
  --pd-lg: var(--space-md) var(--space-xl);
  --pd-xl: var(--space-lg) var(--space-xxl);
  --pd-xxl: var(--space-xl) var(--space-xxxl);
  --pd-xxxl: var(--space-xxl) var(--space-xxxl);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
